*{
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

.df {
    align-items: center;
    justify-content: center;
    display: flex;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(61, 61, 253), rgb(150, 51, 150), rgb(255, 0, 242));
}

.box {
    flex-direction: column;
    width: 25%;
    height: 50%;
    background-color: white;
    border-radius: 20px;
}

.titulo {
    margin: 10px 0 50px 0;
}

.informacoes {
    flex-direction: column;
    margin: 50px;
}

.nome {
    flex-direction: column;
    font-size: 20px;
}

.idade {
    flex-direction: column;
}